.header {
    -fx-border-color: transparent transparent white transparent;
}

.text-border {
    -fx-border-color: white transparent transparent transparent;
}

.title-border {
    -fx-border-color: transparent transparent #979696 transparent;
}

.left-border {
    -fx-border-color: transparent transparent transparent #848383,
                      transparent transparent transparent white;
    -fx-border-insets: 0, 1;
}

.label-bevel {
    -fx-background-color: rgba(255, 255, 255, 0.25);
}

.background {
    -fx-background-color: gainsboro;
}

.button {
    -fx-background-color:
        #a9b3b9,
        linear-gradient(#ffffff, #ffffff),
        linear-gradient(#ffffff 0%, #f2f2f2 49%, #dee7ec 50%, #d0dee6 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.button:focused {
    -fx-background-color:
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
}

.button-complete {
    -fx-background-color:
        #678f68,
        linear-gradient(#c4fcc5, #c4fcc5),
        linear-gradient(#c4fcc5 0%, #afefb1 49%, #6eda71 50%, #49c24c 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
}

.button-complete:focused {
    -fx-background-color:
        #678f68,
        linear-gradient(#b5eeb6, #b5eeb6),
        linear-gradient(#b5eeb6 0%, #9ee1a0 49%, #5ac45d 50%, #3aaf3d 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
}

.button-delete {
    -fx-background-color:
        #9a3737,
        linear-gradient(#f37272, #f37272),
        linear-gradient(#f48787 0%, #f48787 49%, #f65353 50%, #f74444 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
}

.button-delete:focused {
    -fx-background-color:
        #9a3737,
        linear-gradient(#f26666, #f26666),
        linear-gradient(#f37777 0%, #f37777 49%, #f54949 50%, #f73939 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 7 20 7 20;
    -fx-text-fill: #222222;
    -fx-font-size: 12px;
}

.vbox {
    -fx-background-image: url("taskmenu4.png");
    -fx-background-size: 300, 300;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left top;
    -fx-background-color: #b7da98;
}

.transparent-bg {
    -fx-background-color: transparent;
}

.transparent-bg-hbox {
    -fx-background-color: derive(#689f38, 0%);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.left-shadow {
    -fx-background-image: url("left_shadow.png");
    -fx-background-repeat: repeat-y;
    -fx-background-position: top left;
}